  
  button {
    border-radius: 2px;
    border-color: rgb(118, 118, 118);
    border-width: 1px;
    padding: 1.7px 10px;
  }

h2 {
font-size: 20px;
}
  .git-link {
    margin: 30px auto;
    font-size: 15px;
  }
  .weather-app {
    max-width: 530px;
    margin: 30px auto;
  }
.weather-app-box {
 padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;

}
#current-temperature {
  font-size: 50px;
  font-weight: 600;
}


  #celsius-unit,
  #fahrenheit-unit {
    font-size: 16px;
    position: relative;
    bottom:22px;
  }
  #city-input-form {
    margin: 0 auto;
    padding: 1px;
  
  }
  #enter-city {
    width: 70%;
  }

  #icon {
    position: relative;
    left: -20px;
    top: -15px;
  }
  span#description:first-letter {
text-transform: capitalize;
  }
  
  