  
  
  button {
    border-radius: 2px;
    border-color: rgb(81, 122, 152);
    border-width: 1px;
    padding: 2.3px 10px;
    background-color: whitesmoke;
  }

h2 {
  font-size: 20px;
}
.search {
  background-color: whitesmoke;
  border-radius: 2px;
    border-color: rgb(81, 122, 152);
    border-width: 1px;
    padding: 1.7px 10px;
    color:rgb(4, 4, 121) ;

  }
.git-link {
    font-size: 15px;
  }
.weather-app {
    max-width: 530px;
    margin: 30px auto;
    color: rgb(4, 4, 121);
  }
.weather-app-box {
 padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
background-color: rgb(227, 234, 249);

}
#current-temperature {
  font-size: 50px;
  font-weight: 600;
}


#celsius-unit,
#fahrenheit-unit {
    font-size: 16px;
    position: relative;
    bottom:22px;
  }
  #city-input-form {
    margin: 0 auto;
    padding: 1px;
  
  }
  #enter-city {
    width: 68%;
    border-radius: 2px;
    border-color: rgb(81, 122, 152);
    border-width: 1px;
    padding: 1.7px 10px;
      }

  ::placeholder {
    color: rgb(149, 179, 200);
  }
  #icon {
    position: relative;
    left: -10px;
    top: -10px;
  }
  
#description::first-letter {
    text-transform: uppercase;
  }
 #current-city {
  font-size: 19px;
  color:rgb(4, 4, 121) ;
 } 
  .forecast{
   margin-top: 10px;
  text-align: center;
  }